<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
                      <link rel="stylesheet"  href="/css/all.css.css" />

     </head>

      <body>
<div >{{>header}}</div>

<!-- 3.6 NUMBER SECTION.................................................................................... -->
<div class="numbers">
    <div class="overlay">
        <div class="container">
            <div class="numbers-items">

                <div class="number-item">

                    <h2 class="number-item-title">{{name}}</h2>
                    <h2 class="number-item-title">{{company}}</h2>
                    <h2 class="number-item-title">{{numberproduct}}</h2>


                </div>
                <div class="number-item">
                    <h2 class="number-item-title">{{types}}</h2>
                    <h2 class="number-item-title">{{prices}}</h2>
                </div>

                <div class="number-item">
                    <h2 class="number-item-title">{{sales}}</h2>
                    <h2 class="number-item-title">{{bestproducts}}</h2>
                </div>
                
            </div> <!-- ./numbers*items -->
        </div> <!-- ./container -->
    </div> <!-- ./overlay -->
</div> <!-- ./numbers -->



<div>{{>footer}}</div>


</body>

</html>